<!--[if HTML5]><![endif]-->
<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]><html class="ie ie6 ie-lte9 ie-lte8 ie-lte7 no-js" lang="{{=T.accepted_language or 'en'}}"> <![endif]-->
<!--[if IE 7]><html class="ie ie7 ie-lte9 ie-lte8 ie-lte7 no-js" lang="{{=T.accepted_language or 'en'}}"> <![endif]-->
<!--[if IE 8]><html class="ie ie8 ie-lte9 ie-lte8 no-js" lang="{{=T.accepted_language or 'en'}}"> <![endif]-->
<!--[if IE 9]><html class="ie9 ie-lte9 no-js" lang="{{=T.accepted_language or 'en'}}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{=T.accepted_language or 'en'}}"> <!--<![endif]-->
<head>
<title>{{=response.title or request.application}}</title>
  <!--[if !HTML5]>
      <meta http-equiv="X-UA-Compatible" content="IE=edge{{=not request.is_local and ',chrome=1' or ''}}">
  <![endif]-->
  <!-- www.phpied.com/conditional-comments-block-downloads/ -->
  <!-- Always force latest IE rendering engine
       (even in intranet) & Chrome Frame
       Remove this if you use the .htaccess -->
	   
  <meta charset="utf-8" />

  <!-- http://dev.w3.org/html5/markup/meta.name.html -->
  <meta name="application-name" content="{{=request.application}}" />

  <!-- Speaking of Google, don't forget to set your site up:
       http://google.com/webmasters -->
  <meta name="google-site-verification" content="" />

  <!--  Mobile Viewport Fix
        j.mp/mobileviewport & davidbcalhoun.com/2010/viewport-metatag
        device-width: Occupy full width of the screen in its current orientation
        initial-scale = 1.0 retains dimensions instead of zooming out if page height > device height
        user-scalable = yes allows the user to zoom in -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="shortcut icon" href="{{=URL('static','images/favicon.ico')}}" type="image/x-icon">
  <link rel="apple-touch-icon" href="{{=URL('static','images/favicon.png')}}">

  <!-- All JavaScript at the bottom, except for Modernizr which enables
       HTML5 elements & feature detects -->
  <script src="{{=URL('static','js/modernizr.custom.js')}}"></script>

  <!-- include stylesheets -->
{{#response.files.append(URL(r=request,c='static',f='css/layout.css'))}}
  {{
  response.files.insert(0,URL('static','css/web2py.css'))
  response.files.insert(1,URL('static','css/bootstrap.min.css'))
  response.files.insert(2,URL('static','css/bootstrap-responsive.min.css'))
  response.files.insert(3,URL('static','css/web2py_bootstrap.css'))
response.files.insert(4,URL('static','css/layout.css'))
  }}

  {{include 'web2py_ajax.html'}}

  {{
  # using sidebars need to know what sidebar you want to use
  left_sidebar_enabled = globals().get('left_sidebar_enabled',False)
  right_sidebar_enabled = globals().get('right_sidebar_enabled',False)
  middle_columns = {0:'span12',1:'span9',2:'span6'}[
    (left_sidebar_enabled and 1 or 0)+(right_sidebar_enabled and 1 or 0)]
  }}

  <!-- uncomment here to load jquery-ui
       <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/ui-lightness/jquery-ui.css" type="text/css" media="all" />
       <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js" type="text/javascript"></script>
       uncomment to load jquery-ui //-->
  <noscript><link href="{{=URL('static', 'css/web2py_bootstrap_nojs.css')}}" rel="stylesheet" type="text/css" /></noscript>
  {{block head}}{{end}}
</head>

<body>

  <!-- Navbar ================================================== -->
  <div class="navbar navbar-inverse">
    <div class="flash">{{=response.flash or ''}}</div>
    <div class="navbar-inner">
      <div class="container">
       <!-- {{is_mobile=request.user_agent().is_mobile}}-->
        <!-- the next tag is necessary for bootstrap menus, do not remove -->
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse" style="{{='display:none;' if not is_mobile else ''}}">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        {{#=response.logo or ''}}
        <ul id="navbar" class="nav pull-right">{{='auth' in globals() and auth.navbar(mode="dropdown") or ''}}</ul>
        <div class="{{='nav-collapse' if is_mobile else 'nav'}}">
          
          {{pass}}
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div><!--/top navbar -->
</div>


<div id="navigation">
<div id="logo">
<img src="{{=URL('static','images/logo.png')}}" id="logo" alt="logo should be here"  />
</div>
<ul>
<!--li id="main" onclick="location.href='{{=URL(r=request,f='index')}}'">Home</li-->
<li> <button onclick="location.href='{{=URL(r=request,f='index')}}'">Home</li>&nbsp&nbsp
<li class="dropdown">
            <button data-toggle="dropdown" class="dropdown-toggle">Scoreboard <b class="caret"></b></button>
            <ul class="dropdown-menu">
                <li id="main" onclick="location.href='{{=URL(r=request,f='scoreboardg')}}'">G.K.</li>
	        <!--li class="divider"></li-->
		<br>
		 <li id="main" onclick="location.href='{{=URL(r=request,f='scoreboardi')}}'">Basic Computers</li>
                <!--li class="divider"></li-->
		<br>
		<li id="main" onclick="location.href='{{=URL(r=request,f='scoreboardt')}}'">TV Shows</li>
                    </ul>
        </li>
<!--<li><a href="location.href='{{=URL(r=request,f='about_us')}}'">About Us</a></li>
<li><a href="location.href'{{=URL(r=request,f='our_team')}}'">Our Team</a></li> -->
</ul>	
</div>
<br>

  <div class="container">
    <!-- Masthead ================================================== -->
    <header class="mastheader row" id="header">
      {{if response.title:}}
        <div class="span12">
            
                <!--h1 style="color: white;" >
                    Welcome to Quizzaria
               
                </h1-->
				
            
		<!--h4 style="color: white"> {{=message}}</h4-->
</div>

<div id="select_quiz">
<ul id="lquiz">    
<li><INPUT type="button" value="GENERAL KNOWLEDGE"
onclick="location.href='{{=URL(r=request,f='start2')}}'"/><br>
THIS QUIZ TESTS YOUR BASIC GK,COVERING SPORTS,POLITICS,
MOVIES,ETC....

</li>
<li><INPUT type="button" value="BASIC COMPUTERS"
onclick="location.href='{{=URL(r=request,f='start1')}}'"/>
<BR>THE PERFECT QUIZ FOR THE COMPUTER GEEK.
</li>
<li><INPUT type="button" value="TV SHOWS"
onclick="location.href='{{=URL(r=request,f='start3')}}'"/>
<BR>HOW WELL DO YOU KNOW YOUR FAVORITE TV SHOWS? TEST YOURSELF AND FIND OUT!!</li>
</div>

<div id="pic">
<img src="{{=URL('static','images/quiz1.jpg')}}" id="pic" alt="pic should be here"  />
</div>

<div id="info">
QUIZZARIA is a new trivia free app available for download, with new registrations everyday and a constantly growing visitor count. Quizzaria is available in every country. New quizzes are uploaded every week.
The best part is that it's completely free. We also have a scoreboard where you see where you stand compared to people all around the world.
There are 3 levels in each quiz. You can only access later levels once you've completed the requirements which is answering atleast a specific number of questions right in the previous level. Apart from the honor of having your name at the top of a scoreboard for a quiz in which people from all over the world participate, you also have the opportunity to compete for exiting prizes.
</div>



<!--div id="prizes">
<H3>EXCITING PRIZES OFFERED FOR THE MONTH</H3>


</div-->

        </div>
	{{pass}}
    </header>


        

        
        {{pass}}
    </section>

    
  <!-- The javascript =============================================
       (Placed at the end of the document so the pages load faster) -->
  <script src="{{=URL('static','js/bootstrap.min.js')}}"></script>
  <script src="{{=URL('static','js/web2py_bootstrap.js')}}"></script>
  <!--[if lt IE 7 ]>
      <script src="{{=URL('static','js/dd_belatedpng.js')}}"></script>
      <script> DD_belatedPNG.fix('img, .png_bg'); //fix any <img> or .png_bg background-images </script>
      <![endif]-->
  
  {{if response.google_analytics_id:}}
  <script src="{{=URL('static','js/analytics.min.js')}}"></script>
  <script type="text/javascript">
  analytics.initialize({
    'Google Analytics':{trackingId:'{{=response.google_analytics_id}}'} 
  });</script>
  {{pass}}
  <script src="{{=URL('static','js/share.js',vars=dict(static=URL('static','images')))}}"></script>
</body>
</html>

