body {
background-image:url('../images/back.jpg');

}
div#navigation ul
	 { 
	margin: 0; 
	padding: .3em; 
	list-style-type: none; 
	text-align: center; 
	background-color: #000000; 
	/*color:#FFFFFF;*/} 
 
div#navigation ul li 
	{ 
	display: inline; 
	} 
 
div#navigation ul li 
	{
	text-decoration: none; 
	color: yellow;
	background-color: #000000;
	}
 
div#navigation ul li#main 
	{
padding: .2em 1.7em;
}

div#navigation ul li#main:hover 
	{
	color: red; 
	/*background-color: #FFFFFF; */
	} 
#container {
             float:left;
              background-color:rgba(102,205,255,0.5);
                width: 40em;
                color: #ffffff;
                font-size: 1em;
                overflow:none;
                border:none;
              padding-top:10px;
	      margin-left:15px;
        }
#correctans{
 background-color:rgba(102,205,255,0.5);
}
div#logo
{
text-align:center;
color:#FFFFFF;}
#left{
float:left;
color:#FFFFFF;}
#right
{
float:right;
color:#FFFFFF;}

#timer
{
float:right;
color:yellow;

}
div#span12
{
text-align:center;
}
div#select_quiz
{
float:left;
width:225px;
margin-top:20px;
background-color:rgba(102,205,255,0.5);
padding:1em;
color:purple;
}
div#info
{
float:right;
width:500px;
/*height:300px;*/
margin-top:20px;
background-color:rgba(102,205,255,0.5);
padding:1em;
color:purple;
font-size:20px
}
div#pic{
float:left;
margin-left:100px;
}
#lquiz{
list-style-type: none; 
}
div#meg{
/*float:right;*/
margin-left:50px;
/*overflow:none;*/
}
div#meh
{
float:left;
width:75px;
margin-top:50px;
margin-right:150px;
background-color:rgba(102,205,255,0.5);
padding:0.5em;
color:#FFFFFF;
}
img#meg{
/*float:right;*/
width:80%;
}
div#tab{
font-style:italic;
background-color:#000066;
font-size:30px;
color:#ffffff;
width:800px;
/*margin-top:50px;*/
margin-right:150px;
padding:0.5em;
margin-left:200px;
}
div#new{
font-size:30px;
color:red;
float:right;

}
div#target1{
font-size:30px;
color:purple;
float:right;
margin-top:250px;
}
td#rt{
margin-left:20px;
}
td#na{
text-align:left;
margin-right:20px;
}
tr#sc td{
padding:0.5em;
}
table
{
    border-collapse: collapse;
}
