{{extend 'layout1.html'}}
<style>
#rashi
{
color: #FFFFFF;
}
#option
{
color: #FFFFFF;
}
div
{
color: #FFFFFF;
}
#timer{
float: right;
}
#abc
{
display: none;
}
#target{
color:green;
}
#wtarget{
color:red;
}
</style>
<script>
function do_change(){
document.getElementById("next").style.display = "inline";
document.getElementById("click").style.display = "none";
}

function do_last_change(){
document.getElementById("replay").style.display = "inline";
document.getElementById("click").style.display = "none";
}

function do_last_change_replay(){
document.getElementById("replay").style.display = "inline";
document.getElementById("click").style.display = "none";
}

function do_original(){
document.getElementById("next").style.display = "none";
document.getElementById("click").style.display = "inline";
}
</script>
<script>
function take_end()
{
   var s=document.getElementById("target1").innerHTML;
var p = s.match(/\d+/g);
var m = parseInt(p);
if (m==2)
{
	var a="Congratulations!!!! =D You have passed the level!!"
}
else if (m<=1)
{
	var a="Sorry, you couldn't complete the level. Better luck next time :("
}
   bootbox.dialog({
	message: "<div style='color:green'>"+s+"<br>"+a+"</div>", 
	title: "<div style='color:red'>" + "Your performance" + "</div>",
	buttons: {
	success: {
	label: "Scoreboard",
	className: "btn-success",
	callback: function() {
window.location.href = '{{=URL(r=request,f='scoreboardt')}}';
	}
	}
	}
});
}
</script>
<div id="container">
<h3 id="rashi"><div id="question">{{=question}}</div></h3>
<div id="timg"><img src="{{=URL('default', 'download', args=timg)}}" /> <br /> </div>
<b><p id="option"><input type="radio" name="op" value="1" checked><span id="op1"> {{=op1}}</span></input><br><br>
<input type="radio" name="op" value="2"><span id="op2">{{=op2}}</span></input><br><br>
<input type="radio" name="op" value="3"><span id="op3">{{=op3}}</span></input><br><br>
<input type="radio" name="op" value="4"><span id="op4">{{=op4}}</span></input><br><br>
</p><b>
<INPUT type="button" id="click" value="Submit"
onclick="ajax('echot3', ['op'], ':eval')"/>
<INPUT type="button" class="hide" id="next" value="Next"
onclick="location.href='{{=URL(r=request,f='levt3')}}'"/>
<INPUT type="button" id="end" value="End" onclick="ajax('storet3', ['abc'], ':eval')" />
<INPUT type="button" class="hide" id="replay" value="Replay"
onclick="location.href='{{=URL(r=request,f='levt3')}}'"/>
<br>
<div id="target"></div>
<div id="wtarget"></div>
<div id="correctans"></div>
</div>
<div id="target1"></div>
<INPUT type="text" id="abc" class="hide" name="abc" value="0"/><br><br>




