{{ extend 'layout1.html'}}
<div id="logo">
<img src="{{=URL('static','images/score.gif')}}" id="logo" alt="logo should be here"  />
</div>
<div id="tab">
<table>
<tr id="sc">
<th>RANK</th>
<th>NAME</th>
<th>SCORE</th>
<!--th>TIME</th-->
</tr>
{{for i in range(0,len(name)):}}
<tr id="sc">
<td>
{{=i+1}}
</td>
<td id="na" width="600px">
{{=name[i]}}</td> <td id="rt" align="center" width="200px">{{=score[i]}}</td>


</tr>


{{pass}}
</table>
</div>

