{{extend 'layout1.html'}}
<script>
$(document).ready(function(){
  $("#start1").click(function(){
   bootbox.dialog({
	message: "<b>" + "Read the instructions carefully "+"</b>"+"<br>" + "1. Quiz consists of 10 multiple choice questions each of 1 point and with only "+ "<span style='color:red'>" + "<b>" + "one" + "</b>" + "</span>"+" correct answer." + "<br>" + "2. To go to the next level, you have to answer atleast 8 questions correct." + "<br>" + "3. You have the liberty to pause the quiz but only after answering the question displayed on the screen." + "<br>" + "4. You can also end the quiz whenever you want" + "<br>"+"5. Ranklist will be prepared on the basis of your score followed by the time taken.", 
	title: "<div style='color:red'>" + "Are u ready???" + "</div>",
	buttons: {
	success: {
	label: "Start",
	className: "btn-success",
	callback: function() {
window.location.href = '{{=URL(r=request,f='levg1')}}';
	}
	}
	}
});
  });
});
</script>
<script>
function sorry2(){
   bootbox.dialog({
	message: "Sorry, You havn't completed level 2 :(", 
	title: "<div style='color:red'>" + "Level 2 not completed" + "</div>",
	buttons: {
	success: {
	label: "PLay Level 2",
	className: "btn-success",
	callback: function() {
window.location.href = '{{=URL(r=request,f='levg2')}}';
	}
	},
	success1: {
	label: "Home",
	className: "btn-success",
	callback: function() {
window.location.href = '{{=URL(r=request,f='index')}}';
	}
	}
	}
});
  }
</script>
<script>
function sorry1()
{
bootbox.dialog({
	message: "Sorry, You havn't completed level 1 :(", 
	title: "<div style='color:red'>" + "Level 1 not completed" + "</div>",
	buttons: {
	success: {
	label: "PLay Level 1",
	className: "btn-success",
	callback: function() {
window.location.href = '{{=URL(r=request,f='levg1')}}';
	}
	},
	success1: {
	label: "Home",
	className: "btn-success",
	callback: function() {
window.location.href = '{{=URL(r=request,f='index')}}';
	}
	}
	}
});
}
</script>

<!--audio src="{{=URL('static','idiot.mp3')}}" alt="hello"-->
<div id="meh">
<INPUT type="button" value="level1" id="start1"
/><br>
{{if level1==1:}}
<INPUT type="button" value="level2" id="start2"
onclick="location.href='{{=URL(r=request,f='levg2')}}'"/><br>
{{else:}}
<INPUT type="button" value="level2" id="start2"
onclick="sorry1()"/>
{{pass}}
{{if level2==1:}}
<INPUT type="button" value="level3"
onclick="location.href='{{=URL(r=request,f='levg3')}}'"/>
{{elif level1==1 and level2==0:}}
<INPUT type="button" value="level3"
onclick="sorry2()"/>
{{else:}}
<INPUT type="button" value="level3"
onclick="sorry1()"/>
</div>
{{pass}}
<div id="meg">
<img src="{{=URL('static','images/lev.png')}}" id="meg" alt="lev should be here"  />
</div>

